@import url('https://fonts.cdnfonts.com/css/matrix');
:root {
    /*Color variables*/
    --light-green: #4ff141;
    --green: #12d412;
    --dk-green: #088708;

    --yellow: #eeca19;

    --red: #a00e0e;
    --light-red: #c95555;

    --blue: #5c42dc;
    --light-blue: #b4b4f8;
    /*Background-color variables*/
    --black: #010d01;
}

::placeholder {
    color: var(--green);
    opacity: 1; /*Firefox uses lower opacity so this fixes it*/
}

/*For ME-browser support*/
::-ms-input-placeholder {
    color: var(--green);
}

/*For IE-browser support for whoever still uses it*/
:-ms-input-placeholder {
    color: var(--green);
}

* {
    font-family: "Matrix",'Courier New', Courier, monospace, sans-serif;
    margin: 0px;
}

body {
    background-color: var(--black);
}

.title {
    text-align: center;
    color: var(--green);
    height: 50px;
    font-size:45px;
    font-weight: 500;
    margin-bottom: 10px;
}

.border {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto 50px auto;
    width: 60%;
    height: 5px;
    background-color: var(--green);
    border-top-left-radius: 90%;
    border-bottom-left-radius: 90%;
    border-top-right-radius: 90%;
    border-bottom-right-radius: 90%;
}

.inputs {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-self: center;
    margin: auto;
    width: 60%;
    padding: 0;
}

.container {
    width: 100%;
    margin: auto;
}

.priorities {
    background-color: var(--black);
    color: var(--green);
    width: 100%;
    height: auto;
    /*margin: 3% auto;*/
    margin-bottom: 25px;
    border: 1px solid var(--green);
    border-radius: 20px;
    padding: 5px 15px;
}

#pLvl:focus{
    outline: none !important;
}

#pLvl option[value="High"] {
    background-color: var(--black);
    border: 1px solid var(--black);
    color: var(--light-red);
}

#pLvl option[value="Medium"] {
    background-color: var(--black);
    border: 1px solid var(--black);
    color: var(--yellow);
}

#pLvl option[value="Low"] {
    background-color: var(--black);
    border: 1px solid var(--green);
    color: var(--light-green);
}

#taskIn {
    width: 80%;
    height: 58px;
    background-color: var(--black);
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 20px;
    padding: 0;
    padding-left: 5px;
    margin: auto;
}

#inputBtn {
    width: 15%;
    height: 60px;
    background-color: var(--black);
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 20px;
}

#taskIn:focus {
    outline: none !important;
    border: 1px solid var(--dk-green);
}

#inputBtn:hover {
    border: 1px solid var(--dk-green);
}

.taskList {
    width: 100%;
    margin: auto;
}

.tasks {
    list-style: none;
    width: 100%;
    height: auto;
    color: var(--green);
    margin: 30px auto auto auto;
    padding: 0;
}

li {
    height: 30px;
    width: 90%;
    list-style: none;
    border: 1px solid var(--green);
    margin: auto;
    margin-bottom: 20px;
    padding: 15px 15px 15px 5px;
    border-radius: 20px;
    justify-content: left;
}

li:hover {
    border: 1px solid var(--dk-green);
}

li > button {
    float: right;
    border-radius: 20px;
    background-color: var(--black);
}

.done {
    text-decoration: line-through;
}

.delBtn {
    border: 1px solid var(--red);
    color: var(--red);
}

.editBtn {
    border: 1px solid var(--blue);
    color: var(--blue);
    margin-right: 5px;
}

.delBtn:hover {
    background-color: var(--light-red);
}

.editBtn:hover {
    background-color: var(--light-blue);
}